.container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.list {
  position: absolute;
  margin: 32px 0;
  width: 100%;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}

.list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  background-color: #fff;
  padding: 20px 30px 20px 80px;
  border-bottom: 1px solid #eee;
  position: relative;
  line-height: 20px;
}

.item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
