.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #ff6600;
  position: fixed;
  z-index: 999;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
}

.app-header-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  letter-spacing: 0.0375em;
  font-weight: 600;
  font-size: 18px;
}

.app-header-link {
  color: #fff;
  text-decoration: none;
  line-height: 1;
}

.app-header-logo {
  border: 2px solid #fff;
  margin-right: 0.75em;
  font-weight: bold;
  font-size: 20px;
  padding: 4px 6px;
}

.app-content {
  padding-top: 60px;
}
